<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Admin" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Intranet.Database.Admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Intranet.Database.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Admin1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Intranet.Database.Admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Intranet.Properties.Settings.MvpConnectionString" connectionString="Data Source=.;Initial Catalog=Mvp;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MvpEntities" connectionString="metadata=res://*/Database.AdminData.csdl|res://*/Database.AdminData.ssdl|res://*/Database.AdminData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mvp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntities" connectionString="metadata=res://*/Database.AdminDataBase.csdl|res://*/Database.AdminDataBase.ssdl|res://*/Database.AdminDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mvp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminDatabase" connectionString="metadata=res://*/Database.AdminDatabase.csdl|res://*/Database.AdminDatabase.ssdl|res://*/Database.AdminDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mvp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MvpEntities1" connectionString="metadata=res://*/Database.AdminDatabase.csdl|res://*/Database.AdminDatabase.ssdl|res://*/Database.AdminDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mvp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Tema3Entities" connectionString="metadata=res://*/Database.AdminDatabase.csdl|res://*/Database.AdminDatabase.ssdl|res://*/Database.AdminDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tema3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Tema3Entities1" connectionString="metadata=res://*/Database.AdminDatabaseEntities.csdl|res://*/Database.AdminDatabaseEntities.ssdl|res://*/Database.AdminDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tema3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntitiesB" connectionString="metadata=res://*/Database.AdminBase.csdl|res://*/Database.AdminBase.ssdl|res://*/Database.AdminBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tema3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminE" connectionString="metadata=res://*/Database.Admin.csdl|res://*/Database.Admin.ssdl|res://*/Database.Admin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MVP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Database.IntranetEntities.csdl|res://*/Database.IntranetEntities.ssdl|res://*/Database.IntranetEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MVP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetTables" connectionString="metadata=res://*/Database.IntranetTables.csdl|res://*/Database.IntranetTables.ssdl|res://*/Database.IntranetTables.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MVP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntity" connectionString="metadata=res://*/Database.IntranetEntity.csdl|res://*/Database.IntranetEntity.ssdl|res://*/Database.IntranetEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MVP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Database.Entities.csdl|res://*/Database.Entities.ssdl|res://*/Database.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MVP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>